:root{
    --main-bg-color: #f5f7f2;
    --accent-color: #1a776f;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

h1{
    color: #172f2b;
}

p{
    color: #546563;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--main-bg-color);
}   

.nav{
    margin-top: 0.5rem;
    box-sizing: border-box;
    padding-left: 5rem;
    padding-right: 5rem;
    /* border-bottom: 2px black solid; */
    height: 4.5rem;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
}

.logo{
    position: relative;
    top: 1rem;
    height: 3rem;
    width: 3rem;
}

#main-logo{
    height: 1.5rem;
    width: 1.5rem;
}

.website-nav{
    display: flex;
    width: 50%;
    /* border: 1px solid black; */
    justify-content: space-between;
}

.website-nav a{
    text-decoration: none;
    color: black;
}

.contact-us{
    /* border: 1px solid black; */
    border-radius: 5px;
    width: 9%;
    height: 1.5rem;
    text-align: center;
}

.landing{
    box-sizing: border-box;
    height: 110vh;
    overflow: hidden;
    position: relative;
}

.landing-accent{
    background-color: var(--accent-color);
    position: absolute;
    height: 41rem;
    width: 27.8rem;
    top: 0;
    right: 0;
    z-index: -1;
    border-left: 10px solid;
    border-image: linear-gradient(270deg, rgba(245,247,242,1) 0%, rgba(26,119,111,1) 100%);
    border-image-slice: 2;
}

.landing-forklift{
    width: 45rem;
    height: auto;
    position: absolute;
    top: 9.7rem;
    left: 42rem;
    overflow: hidden;
    filter: drop-shadow(12px 12px 8px rgba(0, 0, 0, 0.812));
    /* box-shadow: 7px 5px 15px 5px #000000; */
}

.landing-text{
    margin-top: 5rem;
    margin-left: 4.5rem;
    width: 37rem;
}

#landing-main-text{
    margin: 0;
    font-size: 3rem;
    margin-bottom: 0.5rem;
    line-height: normal;
}

#landing-contact-us{
    background-color: #ff7f40;
    border-style: none;
    height: 2rem;
    width: 8rem;
    border-radius: 3rem;
}

.landing-contact{
    margin-top: 2.6rem;
    margin-left: 4.2em;
}

.landing-contact > input{
    background-color: #ffffff;
    border-radius: 10px;
    border-style: none;
    height: 2.5rem;
    width: 18rem;
    padding: 0.5rem;
}

.landing-contact > button{
    background: none;
    background-color: #ff7f3fc3;
    border-radius: 10px;
    border-style: none;
    height: 2.5rem;
    width: 9rem;
}

.how-it-works{
    /* height: 100vh; */
    width: 100vw;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: -2rem;
    margin-bottom: 5rem;
}

.how-it-works-main{
    width: 90%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    /* text-align: center; */
    flex-wrap: wrap;
}

.how-it-works-text{
    width: 50%;
    margin-bottom: 3.5rem;
}

#how-it-works-heading{
    font-size: 3.5rem;
    margin-bottom: 0.5rem;
}

#how-it-works-para{
    font-size: 1.05rem;
}

.how-it-works-map{
    width: 85%;
    /* border: 1px red solid; */
    display: flex;
    justify-content: space-between;
    position: relative;
}

.how-it-works-logo{
    height: 4.8rem;
    width: 4.8rem;
    background-color: #aeb7b4;
    border-radius: 1rem;
    margin-bottom: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.how-it-works-logo > img{
    height: 70%;
}

.how-it-works-map-illustrations {
    width: 13rem;
    /* border: 1px red solid; */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.how-it-works-map-text > h3{
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.2rem;
}

.how-it-works-map-text > p{
    font-family: "DM Sans", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 0.8rem;
}

#arrow-1{
    position: absolute;
    transform: rotate(180deg);
    left: 10rem;
    top: 1.3rem;
}

#arrow-2{
    position: absolute;
    left: 30rem;
    top: -3.1rem;
}

#arrow-3{
    position: absolute;
    transform: rotate(180deg);
    left: 50rem;
    top: 1.3rem;
}

.top-rated-forklifts{
    height: 100vh;
    width: 100vw;
    text-align: center;
}

.top-rated-forklifts-text{
    width: 70%;
    margin: auto;
    margin-bottom: 3rem;
}

.top-rated-forklifts-text > h1{
    font-size: 3.4rem;
    margin-bottom: 0.5rem;
}

.top-rated-forklifts-text > p{
    width: 35%;
    margin: auto;
    font-size: 1.05rem;
}

.top-rated-forklifts-carousel{
    width: 80%;
    margin: auto;
    text-align: center;
}

.forklift-companies{
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    width: 48rem;
    margin-bottom: 3rem;
}

.forklift-companies > span{
    display: inline-block;
    width: 8rem;
    height: 2rem;
    background-color: #aeb7b4;
    border-radius: 20px;
    text-align: center;
    line-height: 2rem;
    vertical-align: middle;
}

.toyota-forklifts{
    display: flex;
    justify-content: space-around;
}

.toyota-forklifts > .forklift-1{
    height: 25rem;
    width: 22rem;
    background-color: #ffffff;
    border-radius: 20px;
    padding-top: 2rem;
}

.toyota-forklifts > .forklift-1 > .forklift-img > img{
    height: 10rem;
    overflow: hidden;
    filter: drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.812));
}

.toyota-forklifts > .forklift-1 > .name{
    font-size: 1.5rem;
    margin-top: 1.2rem;
}

.toyota-forklifts > .forklift-1 > .specs{
    margin-top: 1.2rem;
    
}

.customer-testimonials{
    /* height: 100vh; */
    width: 100vw;
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    text-align: center;
}   

.customer-testimonials-main{
    width: 90%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    /* text-align: center; */
    flex-wrap: wrap;
}

.customer-testimonials-main-text{
    width: 40%;
    margin-bottom: 3.2rem;
    text-align: center;
}

.customer-testimonials-heading{
    font-size: 3.4rem;
    margin-bottom: 0.5rem;
}

.customer-testimonials-main-para{
    width: 75%;
    margin: auto;
    font-size: 1.05rem;
}

.customer-testimonials-review-section{
    width: 90%;
    display: flex;
    justify-content: space-evenly;
}

.customer-testimonial{
    height: 19rem;
    width: 23rem;
    border: 1px solid black;
    border-radius: 25px;
    padding: 1rem;
    position: relative;
}

.customer-testimonial > .heading{
    display: flex;
    justify-content: left;
    margin-top: 2rem;
    margin-bottom: 1.2rem;
}

.customer-testimonial > .heading > .customer-photo{
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 100%;
    background-color: grey;
    /* float: left; */
    margin-right: 1rem;
}

.customer-testimonial > .heading > .customer-text{
    margin-top: 0.5rem;
    text-align: left;
}

.customer-testimonial > .heading > .quote-marks{
    position: absolute;
    height: 3rem;
    top: 1rem;
    right: 2rem;
}

.customer-testimonial > .text{
    text-align: left;
}

.find-us{
    margin-top: 5rem;
    width: 100vw;
    text-align: center;
    margin-bottom: 7rem;
}

.find-us-heading{
    font-size: 3.5rem;
    margin-bottom: 3rem;
}

.find-us-main{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
}

.find-us-text{
    /* border: 2px solid #466361; */
    padding-top: 2.5rem;
    padding-left: 2rem;
    text-align: left;
    font-size: 1.7rem;
    width: 30rem;
    margin-right: 5rem;
}

.find-us-text > p > span{
    color: #0e3c39;
}

.find-us-text > div > input{
    background-color: #ffffff;
    border-radius: 10px;
    border-style: none;
    height: 2.2rem;
    padding: 0.5rem;
}

.find-us-text > div > button{
    background-color: #ff7f3fc3;
    border-radius: 10px;
    border-style: none;
    height: 2.2rem;
    width: 6rem;
}

.find-us-map{
    border: 2px solid #466361;
    border-radius: 20px;
    width: 40rem;
}


footer{
    height: 40vh;
    background-color: #f1f2ed;
    position: relative;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 3rem;
}

footer > div{
    height: 60%;
}

.footer-logo{
    width: 20rem;
    position: relative;
}

.footer-logo-img{
    position: relative;
    height: 3rem;
    width: 3rem;
}

footer > .contact-info{
    width: 20rem;
}

.footer-icon{
    height: 2rem;
    float: left;
    margin-right: 0.5rem;
}

.footer-email{
    font-size: 1.3rem;
    width: 20rem;
}

footer > .footer-email > .js-stuff{
    margin-top: 1.2rem;
}

footer > .footer-email > .js-stuff > input{
    background-color: #ffffff;
    border-radius: 10px;
    border-style: none;
    height: 2.2rem;
    width: 13rem;
    padding: 0.5rem;
}

footer > .footer-email > .js-stuff > button{
    background: none;
    background-color: #ff7f3fc3;
    border-radius: 10px;
    border-style: none;
    height: 2.2rem;
    width: 6rem;
}

footer > #copyright{
    height: 1.5rem;
    width: 100%;
    text-align: center;
}